.footer {
    overflow: hidden;
    &__container {
        position: relative;
        row-gap: 2rem;

    }
    &__logo {
        display: flex;
        align-items: center;
        column-gap: .25rem;
        color: #282525;
        font-weight: 500;
    }
    &__logo-img {
        width: 1.5rem;
    }
    &__description {
        font-size: 15px;
    }
    &__logo,
    &__title {
        margin-bottom: 1rem;
    }
    &__title {
        font-size: 16px;
    }
    &__links,
    &__available {
        display: flex;
        flex-direction: column;
        row-gap: .75rem;
    }
    &__link{
        color: #5D5656;
        transition: .3s;
    }
    &__link:hover {
        color: #282525;
    }
    &__available-img {
        width: 100%;
        cursor: pointer;
    }
    &__copy {
        display: block;
        margin: 3.5rem 0 1rem 0;
        text-align: center;
        font-size: 12px;
        color: #5D5656;
    }
    &__img1,
    &__img2 {
        position: absolute;
        width: 100px;
    }
    &__img1 {
        top: 25%;
        right: 2rem;
    }
    &__img2 {
        top: 75%;
        right: -4rem;
    }
}
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    border-color: #5D5656;
    box-shadow: 0 4px 12px hsla(0, 0%, 290, .1);
    display: inline-flex;
    padding: 0.35rem;
    border-radius: .25rem;
    z-index: 10;
    opacity: .8;
    transition: .4s;
    &__icon {
        font-size: 1.25rem;
        color:#DC3845
    }
}
.scrollup:hover {
    opacity: 1;
}
.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: #5D5656;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #282525;
    border-radius: 1rem;
}
